Package: libpublishwidgets0
Source: webupload-engine
Version: 1.3.12.1+0m8
Architecture: armel
Maintainer: Jukka Tiihonen <jukka.t.tiihonen@nokia.com>
Installed-Size: 76
Depends: libaccounts-qt1, libc6 (>= 2.4), libgcc1 (>= 1:4.1.1), libmdatauri0, libmeegotouchcore0, libmeegotouchextensions0, libmeegotouchsettings0, libqt4-dbus (>= 4.7.4~git20120327), libqt4-network (>= 4.7.4~git20120327), libqt4-xml (>= 4.7.4~git20120327), libqtcore4 (>= 4.7.4~git20120327), libqtgui4 (>= 4.7.4~git20120327), libshare-ui, libsignon-qt0, libsignoncrypto-qt, libstdc++6 (>= 4.3.0), libwebupload0
Section: libs
Priority: optional
Description: Publish widgets
Aegis-Manifest: empty
